<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <CodeCoverage>
    <Configuration>
      <Format>cobertura</Format>
      <ExcludeByFile>
        **/*Designer.cs;
        **/*Migrations.cs;
        **/*.g.cs;
        **/*Tests.cs;

        **/App.xaml.cs;
        **/App.xaml;
        **/MainWindow.xaml.cs;
        **/MainWindow.xaml;
        **/Views/**/*.xaml.cs;
        **/Views/**/*.xaml;
        **/Windows/**/*.xaml.cs;
        **/Controls/**/*.xaml.cs;
      </ExcludeByFile>
      <ExcludeByAttribute>
        System.Diagnostics.CodeAnalysis.ExcludeFromCodeCoverageAttribute;
        System.Diagnostics.DebuggerNonUserCodeAttribute;
        System.CodeDom.Compiler.GeneratedCodeAttribute
      </ExcludeByAttribute>
      <IncludeTestAssembly>false</IncludeTestAssembly>
    </Configuration>
  </CodeCoverage>
</RunSettings>
